*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
}
.navb{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 8rem;
}
.navb2{
    display: flex;
    justify-content: space-evenly;
    gap: 4rem;
}
.navb i{
    position: absolute;
    top: 40%;
    left: 6.9%;
    rotate: 46deg;
}
.ne{
    border: 1px solid black;
    border-radius: 9px;
    padding: 3px 6px;
}
.hd1{
    height: 23rem;
    width: 35rem;
    position: absolute;
    top: 80%;
    left: 6.9%;
    margin-top: 4rem;
    
}
.hd2{
    height: 20rem;
    width: 35rem;
    position: absolute;
    top: 80%;
    right: 8%;
    margin-top: 4rem;
}
.htxt{
    width: 50%;
    font-size: 2.5rem;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.ptxt{
    padding-top: 1.3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.4rem;
    width: 100%;
    color: grey;
}
.hd1 button{
    margin-top: 1.4rem;
    background-color: #111;
    color: rgba(239, 227, 227, 0.897);
    padding: 4px 8px;
    border-radius: 8px;
}
.logos{
    position: absolute;
    top: 550%;
    display: flex;
    margin-top: 3rem;
    margin-left: 5rem;
    gap: 3.7rem;
}
.logos img{
    height: 9rem;
    width: 11rem;
}
.ltxt{
    position: absolute;
    top: 790%;
    margin-left: 6.9rem;
    display: flex;
    gap: 1.5rem;
}
.plt{
    color: rgb(154, 135, 135);
    width: 50%;
    margin-top: 0.8rem;
}
.hlt{
    font-size: 2.6rem;
    background-color: greenyellow;
}
.box1{
    height: 25vh;
    width: 25vw;
    position: absolute;
    top: 930%;
    left: 23%;   
    border-radius: 10px;
    box-shadow: 2px 12px 2px 0px;
    border: 1px solid black;
}
.box2{
    height: 25vh;
    width: 25vw;
    position: absolute;
    top: 930%;
   background-color: #201c1c;
    right: 20%;  
    border-radius: 10px;
    box-shadow: 2px 12px 2px 0px;
    border: 1px solid black;
}
.box3{
    height: 25vh;
    width: 25vw;
    position: absolute;
    top: 1170%;
   border: 1px solid black;
    left: 23%;   
    border-radius: 10px;
    box-shadow: 2px 12px 2px 0px;
    background-color: #201c1c;
}
.box4{
    height: 25vh;
    width: 25vw;
    position: absolute;
    top: 1170%;
    border: 1px solid black;
    right: 20%;   
    border-radius: 10px;
    box-shadow: 2px 12px 2px 0px;
}
.box img{
    width: 45%;
    height: 75%;
    position: absolute;
    right: 1%;
    top: 11%;
}
.b1t{
    position: absolute;
    top: 8%;
    left: 3%;
    width: 30%;
    line-height: 1.4rem;
    font-weight: bold;
    background-color: greenyellow;
}
.b1l,.b3l,.b2l,.b4l{
    position: absolute;
    bottom: 12%;
    left: 10%;
}
.box1 i{
    position: absolute;
    bottom: 11%;
    left: 3%;
    color: azure;
    background-color: #111;
    border-radius: 8px;
    font-size: 1.2rem;
    padding: 0.1rem;
}
.b3t{
    position: absolute;
    top: 8%;
    left: 3%;
    width: 30%;
    line-height: 1.4rem;
    font-weight: bold;
    background-color: whitesmoke;
}
.box3 i{
    position: absolute;
    bottom: 11%;
    left: 3%;
    color: black;
    background-color: whitesmoke;
    border-radius: 8px;
    font-size: 1.2rem;
    padding: 0.1rem;
}
.box2 i{
    position: absolute;
    bottom: 11%;
    left: 3%;
    color: black;
    background-color: whitesmoke;
    border-radius: 8px;
    font-size: 1.2rem;
    padding: 0.1rem;
}
.b2t{
     position: absolute;
    top: 8%;
    left: 3%;
    width: 30%;
    line-height: 1.4rem;
    font-weight: bold;
    background-color: whitesmoke;
}
.b4t{
    position: absolute;
    top: 8%;
    left: 3%;
    width: 20%;
    line-height: 1.4rem;
    font-weight: bold;
    background-color: greenyellow;
}
.box4 i{
    position: absolute;
    bottom: 11%;
    left: 3%;
    color: azure;
    background-color: #111;
    border-radius: 8px;
    font-size: 1.2rem;
    padding: 0.1rem;
}
.boc{
    height: 35vh;
    width: 60vw;
    background-color: rgba(191, 174, 174, 0.577);
    position: absolute;
    top: 1480%;
    left: 22%;
    border-radius: 10px;
    padding-top: 2rem;
    padding-left: 1.5rem;
    border: 1px solid black;
}
.bbt{
    font-size: xx-large;
    font-weight: bold;
}
.bbl{
    font-weight: 400;
    line-height: 1.4rem;
    width: 40%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.boc button{
    background-color: #201c1c;
    color: azure;
    padding: 1rem 1rem;
    border-radius: 10px;
    font-weight:bolder;
}
.boc img{
    position: absolute;
    right: 0;
    top: 0%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid black;
}
